
.TorahTable {
	border-style: none solid none none;
	padding: 5px;
	border: thin solid #c0c0c0;
	width: 100%;
	text-align: right;
	line-height: normal;
	font-family: "SBL Hebrew";
	line-height: normal;
	vertical-align: top;
	float: none;
	clear: none;
	caption-side: top;
	font-size: x-large;
	outline: #000000;
	outline-style: solid;
	outline-width: medium;
	content: none;
	direction:rtl;
}
.onecolumn {
	border-style: none;
	border-width: 0 0px 0 0px;
	width: 100%;
	font-size: x-large;
	vertical-align: top;
	padding: 0 0 0 0;
	padding-left: 25px;
	padding-right: 25px;
}
.onecolumnwithupperline {
	border-top-style: solid;
	border-top-width: medium;
	border-style: solid;
	border-width: medium 0px 0 0px;
	width: 100%;
	font-size: x-large;
	vertical-align: top;
	border-top-color: #000000;
	padding: 0 0 0 0;
	padding-left: 25px;
	padding-right: 25px;
}

.twocolumnL {
	border-style: none dotted none none;
	border-width: 0 thin 0 0;
	width: 50%;
	font-size: x-large;
	vertical-align: top;
	padding: 0 0 0 0;
	padding-left: 25px;
	padding-right: 25px;
}
.twocolumnR {
	border-style: none none none dotted;
	border-width: 0 0 0 thin;
	width: 50%;
	font-size: x-large;
	vertical-align: top;
	padding: 0 0 0 0;
	padding-left: 25px;
	padding-right: 25px;
}

.twocolumnwithupperlineL {
	border-top-style: solid;
	border-top-width: medium;
	border-width: medium thin 0 0;
	border-style: solid dotted none none;
	width: 50%;
	font-size: x-large;
	vertical-align: top;
	border-top-color: #000000;
	padding-left: 25px;
	padding-right: 25px;
}
.twocolumnwithupperlineR {
	border-top-style: solid;
	border-top-width: medium;
	border-width: medium 0 0 thin;
	border-style: solid none none dotted;
	width: 50%;
	font-size: x-large;
	vertical-align: top;
	border-top-color: #000000;
	padding-left: 25px;
	padding-right: 25px;
}
.threecolumnL {
	border-style: none none none none;
	border-width: 0 0 0 0;
	width: 33%;
	font-size: x-large;
	vertical-align: top;
	padding: 0 0 0 0;
	padding-left: 25px;
	padding-right: 25px;
}
.threecolumnR {
	border-style: none none none none;
	border-width: 0 0 0 0;
	width: 33%;
	font-size: x-large;
	vertical-align: top;
	padding: 0 0 0 0;
	padding-left: 25px;
	padding-right: 25px;
}
.threecolumnM {
	border-style: none dotted none dotted;
	border-width: 0 thin 0 thin;
	width: 33%;
	font-size: x-large;
	vertical-align: top;
	padding: 0 0 0 0;
	padding-left: 25px;
	padding-right: 25px;
}
.threecolumnwithupperlineM {
	border-top-style: solid;
	border-top-width: medium;
	border-width: medium thin 0 thin;
	border-style: solid dotted none dotted;
	width: 33%;
	font-size: x-large;
	vertical-align: top;
	border-top-color: #000000;
	padding-left: 25px;
	padding-right: 25px;
}

.threecolumnwithupperlineL {
	border-top-style: solid;
	border-top-width: medium;
	border-width: medium 0 0 0;
	border-style: solid none none none;
	width: 33%;
	font-size: x-large;
	vertical-align: top;
	border-top-color: #000000;
	padding-left: 25px;
	padding-right: 25px;
}
.threecolumnwithupperlineR {
	border-top-style: solid;
	border-top-width: medium;
	border-width: medium 0 0 0;
	border-style: solid none none none;
	width: 33%;
	font-size: x-large;
	vertical-align: top;
	border-top-color: #000000;
	padding-left: 25px;
	padding-right: 25px;
}


caption {
	font-size: xx-large;
	vertical-align: middle;
	text-align: center;
	font-family: "SBL Hebrew";
}

table{
	font: 100% "SBL Hebrew";
	page-break-after: always;
}


span.Ciasm1
	{
	color: #CCCC00;
}
span.Ciasm2
	{
	color: green;
	
}
span.Closure
	{
	color: #CC0066;
}
span.Horizontal1
	{
	color: #3399FF;
	
}
span.Horizontal2
	{
	color: teal;
	
}
span.Horizontal3
	{
	color: maroon;
	
}
span.InternalParallel
	{
	color: lime;
}
span.Vertical1
	{
	color: #FF9900;
}

h1 {
	font-family: "SBL Hebrew";
	font-size: xx-large;
	text-align: center;
	vertical-align: top;
}



h3 {
	font-size: x-large;
	text-align: center;
	font-family: "sbL Hebrew";
}

h4 {
	
	font-family: "sbL Hebrew";
	font-size: large;
	vertical-align: top;
	text-align: right;
	line-height: normal;
	height:1pt
}

h5 {
	font-family: "SBL Hebrew";
	font-size: medium;
}
span.versenumber {
	font-family: "SBL Hebrew";
	font-size: small;
	color: #000000;
}
div.rtl
{
direction:rtl;
}
