.bash*
.cpanel*
.cphorde*
.dns
.emacs
.ftpquota
.gemrc
.gnupg/
.host-info
.htaccess.no_htaccess*
.htaccess.php*
.lastlogin
.my.cnf
.mysql_history
.profile
.ssh/
.subversion/
.trash/
access-logs/
cpanel-logs/
etc/
logs/
mail/
perl5/
public_ftp/
ssl/
tmp/
var/
_vti_cnf/
_vti_pvt/
_vti_bin/
_private/
_derived/
*.bak
*.tmp
*.dwt
*.webinfo
*.sln
*.suo
*.sqlite
postinfo.html
_vti_inf.html
Thumbs.db
Desktop.ini
.DS_Store
.koality/
.kshrc
.softaculous/
.spamassassin*
.spamboxenable
.skip_next_db_backup
.tmp.driveupload/
.wp-cli/
cgi-bin/
*.zip
*.mp3
*.mp4
